<!DOCTYPE html>
<html ng-app="ladeApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kjell Ivars awesome ladestasjonapp</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Ladestasjon-App</a>
        </div>

    </div>
</div>


<div class="container" ng-controller="ladeCtrl">
    <!-- Example row of columns -->

    <h2 style="padding-top:40px">Hvor vil du dra?</h2>

    <form ng-submit="showChargerStations()">

        <div class="row">
            <div class="col-xs-2">
                Fra
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="from" placeholder="From Latitude"/>
            </div>

    </div>
        <div class="row">
            <div class="col-xs-2">
                Til
            </div>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="to" placeholder="To Latitude"/>
            </div>

            <div class="col-xs-2">
                <input type="submit" class="btn btn-primary" value="Søk">
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <div id="map-canvas" style="height:500px"></div>
        </div>
    </div>

    <hr>

    <footer>
        <p>© Visma Consulting 2014</p>
    </footer>
</div>
<!-- /container -->

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHL2nPdJsC78a-3g8oO9GE5HLm7w3sY_I&sensor=true">
</script>
<script src="js/angular.js"></script>
<script src="js/ladeApp.js"></script>


</body>
</html>